certifi       
charset-normalizer 
click              
dnspython         
Flask             
Flask-PyMongo      
idna               
itsdangerous      
Jinja2           
MarkupSafe       
pip               
pymongo            
python-dotenv 
requests           
setuptools       
urllib3          
Werkzeug          
wheel             
